<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link href="/files/css/style.css" rel="styleSheet">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="/files/js/index.js" type="text/javascript"></script>
    </style>
</head>

<body>
    <%- body %>
</body>

</html>