<div class="menuBlock">
    <ul id="menu">
        <li><a href="/aboutus">aboutus</a></li>
        <li><a href="/profile">profile</a></li>
        <li><a href="/logout">logout</a></li>
    </ul>
</div>
