<form name="loginForm" method="POST">
    <label for="username">User Name</label>
    <input type="text" name="username" id="username"/>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
    <input type="button" value="login" id="" onclick="postloginform()">
</form>
<div class="align-center">Not Registered? <a href="/register">create an account</a></div>
<div id="error-group">
    <ul id="errors"></ul>
</div>
