<form name="userForm" method="POST">
    <label for="username">User Name</label>
    <input type="text" name="username" id="username"/>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" />
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
    <label for="password2">Confirm Password</label>
    <input type="password" name=password2 id="password2" />
    <input type="button" value="register" id="signup" onclick="postform()">
</form>
<div id="error-group">
    <ul id="errors"></ul>
</div>
